In [35]:
import pandas as pd
import numpy as np
import datetime

In [44]:
costa_rica = pd.read_csv('./costa_rica_GSOD.csv')
costa_rica.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,787620,99999,20070102,74.2,24,60.3,24,1009.5,8,908.6,...,15.2,24,20.0,36.9,84.4,64.9,0.00I,999.9,0,NaN
1,787620,99999,20070103,75.0,24,60.9,24,1010.0,4,909.0,...,14.8,24,20.0,37.9,83.3,59.4,0.00I,999.9,0,NaN
2,787620,99999,20070104,73.1,24,62.2,24,1009.0,5,908.3,...,13.2,24,19.0,28.0,80.6*,68.0*,0.00I,999.9,0,NaN
3,787620,99999,20070105,73.5,24,64.1,24,1008.3,5,907.4,...,7.8,24,15.0,999.9,82.4*,68.0*,0.00I,999.9,0,NaN
4,787620,99999,20070106,75.0,22,64.4,22,9999.9,0,9999.9,...,9.0,22,15.9,25.1,84.4,66.7,0.00I,999.9,0,NaN

In [47]:
costa_rica.shape

(12188, 23)

In [49]:
mexico = pd.read_csv('./mexico_GSOD.csv')
mexico.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,765560,99999,20070102,67.1,19,58.1,19,1014.0,9,911.1,...,2.5,19,7.0,999.9,81.3,48.2,0.00G,999.9,0.0,NaN
1,765560,99999,20070103,64.4,16,61.7,16,1016.4,7,9999.9,...,4.3,16,11.7,999.9,77.9,53.2,0.00G,999.9,10000.0,NaN
2,765560,99999,20070104,64.9,19,55.4,19,1016.7,9,913.0,...,2.8,19,9.7,999.9,78.8*,48.2*,0.38G,999.9,100000.0,NaN
3,765560,99999,20070105,64.8,19,55.9,19,1014.2,8,910.8,...,2.9,19,9.7,999.9,80.6*,42.8*,0.00G,999.9,100000.0,NaN
4,765560,99999,20070106,65.0,19,55.1,19,1013.8,8,910.3,...,2.3,19,7.8,999.9,78.8*,41.0*,0.00G,999.9,100000.0,NaN

In [50]:
mexico.shape

(32688, 23)

In [51]:
guatemala = pd.read_csv('./guatemala_GSOD.csv')
guatemala.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,786270,99999,20070102,57.2,21,50.9,21,9999.9,0,9999.9,...,2.8,21,14.0,999.9,73.4,44.6,0.00I,999.9,0,NaN
1,786270,99999,20070103,58.1,21,53.8,21,9999.9,0,9999.9,...,3.3,20,12.0,999.9,72.3,46.0,0.00I,999.9,0,NaN
2,786270,99999,20070104,57.4,20,48.5,20,9999.9,0,9999.9,...,2.8,20,9.9,999.9,77.0*,42.8*,0.00I,999.9,100000,NaN
3,786270,99999,20070105,60.8,22,45.9,22,9999.9,0,815.7,...,1.4,22,6.0,999.9,78.8*,41.0*,0.00I,999.9,0,NaN
4,786270,99999,20070106,63.5,21,50.0,21,9999.9,0,9999.9,...,1.5,21,6.0,999.9,80.6,41.7,0.00I,999.9,0,NaN

In [52]:
guatemala.shape

(20323, 23)

array(['TAPACHULA CHIS, MX', 'LA MESA INTERNATIONAL, HO'], dtype=object)

In [53]:
el_salvador = pd.read_csv('./el_salvador_GSOD.csv')
el_salvador.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,786500,99999,20070105,86.8,7,69.9,7,9999.9,0,9999.9,...,5.5,7,8.0,999.9,90.3,74.3,0.00I,999.9,0,NaN
1,786500,99999,20070106,82.7,15,69.2,15,9999.9,0,9999.9,...,4.9,15,7.0,999.9,86.0*,73.4*,0.00I,999.9,0,NaN
2,786500,99999,20070107,80.2,8,69.2,8,9999.9,0,9999.9,...,2.7,8,5.1,999.9,89.6,74.3,0.00I,999.9,0,NaN
3,786500,99999,20070112,85.6,5,63.7,5,9999.9,0,9999.9,...,4.0,5,7.0,999.9,87.8*,82.4*,0.00I,999.9,0,NaN
4,786500,99999,20070113,81.4,16,66.5,16,9999.9,0,9999.9,...,4.4,16,11.1,999.9,89.6*,71.6*,0.00I,999.9,0,NaN

In [54]:
el_salvador.shape

(16156, 23)

In [55]:
honduras = pd.read_csv('./honduras_GSOD.csv')
honduras.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,787000,99999,20070102,88.2,12,69.9,12,9999.9,0,9999.9,...,9.7,12.0,14.0,999.9,95.4*,78.8*,0.00I,999.9,0.0,NaN
1,787000,99999,20070103,84.9,9,68.8,9,9999.9,0,9999.9,...,6.8,8.0,8.0,999.9,91.8*,77.0*,0.00I,999.9,0.0,NaN
2,787000,99999,20070104,85.9,10,67.6,10,9999.9,0,9999.9,...,6.0,10.0,12.0,999.9,93.9,75.2,0.00I,999.9,0.0,NaN
3,787000,99999,20070105,86.7,11,71.1,11,9999.9,0,9999.9,...,4.6,11.0,9.9,999.9,93.6,75.2,0.00G,999.9,0.0,NaN
4,787000,99999,20070106,86.5,12,72.6,12,1013.1,4,1012.6,...,5.8,12.0,12.0,999.9,93.2,72.5,0.00I,999.9,0.0,NaN

In [56]:
honduras.shape

(43066, 23)

In [57]:
peru = pd.read_csv('./peru_GSOD.csv')
peru.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,844010,99999,20070102,77.9,8,67.3,8,1012.0,8,1005.2,...,6.8,8,12.0,999.9,93.2,68.9,0.00I,999.9,0,NaN
1,844010,99999,20070103,78.6,8,67.8,8,1013.4,8,1006.6,...,8.1,8,15.0,999.9,93.4,71.6,0.00I,999.9,0,NaN
2,844010,99999,20070104,79.9,8,68.1,8,1013.7,8,1006.9,...,8.7,8,16.9,999.9,95.0*,69.8,0.00I,999.9,0,NaN
3,844010,99999,20070105,79.2,7,65.9,7,1012.5,7,1005.7,...,8.0,7,14.0,999.9,95.0,72.0,0.00I,999.9,0,NaN
4,844010,99999,20070106,79.9,8,67.0,8,1012.4,8,1005.6,...,8.1,8,15.0,999.9,93.2,72.1,0.00I,999.9,0,NaN

In [58]:
peru.shape

(14912, 23)

In [59]:
brazil = pd.read_csv('./brazil_GSOD.csv')
brazil.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,827040,99999,20070102,80.6,15,75.6,15,9999.9,0,9999.9,...,1.3,15,4.1,999.9,91.4*,71.6*,99.99,999.9,110000,NaN
1,827040,99999,20070103,80.2,12,75.5,12,9999.9,0,9999.9,...,0.4,12,5.1,999.9,87.8*,73.4*,99.99,999.9,10000,NaN
2,827040,99999,20070104,79.4,13,75.2,13,9999.9,0,9999.9,...,1.4,13,5.1,999.9,86.0*,71.6*,99.99,999.9,10000,NaN
3,827040,99999,20070105,83.9,13,75.6,13,9999.9,0,9999.9,...,1.8,13,7.0,999.9,89.6*,73.4*,0.00I,999.9,0,NaN
4,827040,99999,20070106,80.3,12,76.7,12,9999.9,0,9999.9,...,3.4,12,7.0,999.9,86.0*,73.4*,99.99,999.9,10000,NaN

In [60]:
brazil.shape

(23767, 23)

In [61]:
ecuador = pd.read_csv('./ecuador_GSOD.csv')
ecuador.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,840360,99999,20110716,58.9,5,47.7,5,9999.9,0,1006.9,...,3.2,5,4.1,999.9,69.4,40.6,0.16G,999.9,10000,NaN
1,840360,99999,20110720,51.1,4,42.6,4,9999.9,0,1007.4,...,4.0,4,8.0,999.9,62.6,32.4,0.00I,999.9,0,NaN
2,840360,99999,20110721,55.7,4,48.3,4,9999.9,0,1007.7,...,3.0,4,4.1,999.9,64.0,40.1,0.00I,999.9,0,NaN
3,840360,99999,20110723,53.9,5,49.2,5,9999.9,0,1008.4,...,4.0,5,8.0,999.9,61.5,45.0,0.28G,999.9,10000,NaN
4,840360,99999,20110724,52.6,5,49.6,5,9999.9,0,1008.9,...,3.2,5,6.0,999.9,60.3,43.5,0.16G,999.9,10000,NaN

In [62]:
ecuador.shape

(6211, 23)

array(['LOJA LA ARGELIA, EC', 'SAN GABRIEL, EC', 'PUYO, EC', 'CANAR, EC',
       'IZOBAMBA, EC'], dtype=object)

In [28]:
central_america = pd.read_csv('./central_america_weather.csv')
central_america.head()

,STN---,WBAN,YEARMODA,TEMP,,DEWP,.1,SLP,.2,STP,...,WDSP,.5,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,Unnamed: 22
0,786500,99999,20070105,86.8,7,69.9,7,9999.9,0,9999.9,...,5.5,7,8.0,999.9,90.3,74.3,0.00I,999.9,0,NaN
1,786500,99999,20070106,82.7,15,69.2,15,9999.9,0,9999.9,...,4.9,15,7.0,999.9,86.0*,73.4*,0.00I,999.9,0,NaN
2,786500,99999,20070107,80.2,8,69.2,8,9999.9,0,9999.9,...,2.7,8,5.1,999.9,89.6,74.3,0.00I,999.9,0,NaN
3,786500,99999,20070112,85.6,5,63.7,5,9999.9,0,9999.9,...,4.0,5,7.0,999.9,87.8*,82.4*,0.00I,999.9,0,NaN
4,786500,99999,20070113,81.4,16,66.5,16,9999.9,0,9999.9,...,4.4,16,11.1,999.9,89.6*,71.6*,0.00I,999.9,0,NaN

In [29]:
central_america.shape

(10300, 23)

In [34]:
central_america.dtypes

STN---           int64
WBAN             int64
 YEARMODA        int64
   TEMP        float64
                 int64
   DEWP        float64
  .1             int64
  SLP          float64
  .2             int64
  STP          float64
  .3             int64
 VISIB         float64
  .4             int64
  WDSP         float64
  .5             int64
 MXSPD         float64
  GUST         float64
   MAX          object
  MIN           object
PRCP            object
SNDP           float64
 FRSHTT          int64
Unnamed: 22    float64
dtype: object

In [40]:
central_america = central_america.rename(columns=lambda x: x.strip())
central_america.columns

Index(['STN---', 'WBAN', 'YEARMODA', 'TEMP', '', 'DEWP', '.1', 'SLP', '.2',
       'STP', '.3', 'VISIB', '.4', 'WDSP', '.5', 'MXSPD', 'GUST', 'MAX', 'MIN',
       'PRCP', 'SNDP', 'FRSHTT', 'Unnamed: 22'],
      dtype='object')

In [41]:
central_america.isnull().sum()

STN---             0
WBAN               0
YEARMODA           0
TEMP               0
                   0
DEWP               0
.1                 0
SLP                0
.2                 0
STP                0
.3                 0
VISIB              0
.4                 0
WDSP               0
.5                 0
MXSPD              0
GUST               0
MAX                0
MIN                0
PRCP               0
SNDP               0
FRSHTT             0
Unnamed: 22    10300
dtype: int64